*.bat text eol=crlf
.circleci/config.yml linguist-generated=true
.github/workflows/generated-*.yml linguist-generated=true
.github/generated-* linguist-generated=true
.github/scripts/gql_mocks.json linguist-generated=true
third_party/LICENSES_BUNDLED.txt linguist-generated=true
tools/build/bazel/requirements.txt linguist-generated=true
torch/csrc/utils/generated_serialization_types.h linguist-generated=true
torch/lib/rocm/migraphx.cp312-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_onnx.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/rocblas.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/rocm-openblas.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/amd_comgr0700.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hipblaslt.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hiprtc0700.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hipsolver.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_ref.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/rocfft.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/rocrand.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/amdhip64_7.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hiprand.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hiprtc-builtins0700.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_tf.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/rocsparse.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hipfft.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/libhipblas.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_c.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_py.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_py_3.12.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/rocsolver.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/MIOpen.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/hipsparse.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_device.dll filter=lfs diff=lfs merge=lfs -text
torch/lib/rocm/migraphx_gpu.dll filter=lfs diff=lfs merge=lfs -text
